
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
}

.product-card img:hover {
    opacity: 0.8;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px;
}

.product-card p {
    font-size: 1em;
    color: #555;
    margin: 10px;
}


@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-card {
        border: none;
    }
}
